body {
  background: #d7d4d0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

.container {
  background: #fff;
  margin: 0 auto;
  width: 85%;
}

.clear {
  clear: both;
}

p {
  text-align: justify;
}

/* ************** HEADER **************** */

.logo {
  height: 145px;
}

.logo-img {
  height: 145px;
  float: left;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 120px;
}

.logo-text {
  color: #d5b58b;
  float: left;
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  margin: 30px auto;
}

.banner {
  height: 145px;
}

.banner-hotel {
  background: url('./images/hotel_opacitybig.png');
  background-position: left;
  background-repeat: no-repeat;
  padding: 0;
}

/* ************** NAVBAR **************** */

.navbar {
  height: 45px;
  background: #706464;
}





/* ************** CONTENU **************** */

.content {
  margin: 0 auto;
  padding: 40px 10px 40px 10px;
  background: #fff;
  width: 85%;
}

.title2, .subtitle {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  color: #d5b58b;
}

.subtitle {
  font-weight: 400;
}

.frontporch {
  width: 100%;
  margin: 40px 0 40px 0;
}

.redirect {
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

.avis-redirect, .presse-redirect {
  display: inline-block;
  font-family: 'Playfair Display SC', serif;
  text-decoration: none;
  color: #d5b58b;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1.2em;
  padding: 5px;
  margin: 20px;
  transition: 0.3s;
}

.avis-redirect:hover, .presse-redirect:hover {
  color: #a28a69;
}


/* ************** FOOTER **************** */

footer {
  width: 100%;
  height: 33px;
  background: #706464;
}

/* ************** GRILLE **************** */

.grid_1{width: 8.33%;}
.grid_2{width: 16.66%;}
.grid_3{width: 25%;}
.grid_4{width: 33.33%;}
.grid_5{width: 41.66%;}
.grid_6{width: 50%;}
.grid_7{width: 58.33%;}
.grid_8{width: 66.66%;}
.grid_9{width: 75%;}
.grid_10{width: 83.33%;}
.grid_11{width: 91.66%;}
.grid_12{width: 100%;}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  float: left;
  display: block;
}
