body {
  background: #d7d4d0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  color: #1C1C1C;
}

.container {
  background: #fff;
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}

.clear {
  clear: both;
}

p {
  text-align: justify;
}


/* ************** ACCUEIL **************** */

.accueil {
  background: #837979;
  position: relative;
}

#carrousel {
  width: 100%;
  height: 100vh;
  background-image: url('../images/hotel_1.png');
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.titre-accueil, .soustitre-accueil, #carrousel h4 {
  font-family: 'Playfair Display SC', serif;
  font-size: 3.5em;
  font-weight: 400;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 2vh;
  text-shadow: 5px 5px 9px #545454;
}

.soustitre-accueil {
  font-size: 2em;
  text-shadow: 3px 3px 5px #545454;
  padding-top: 0;
  padding-bottom: 12vh;
}

.soustitre-accueil strong {
  text-shadow: 3px 3px 3px #949494;
}

#carrousel h4 {
  position: absolute;
  padding-top: 2vh;
  font-size: 1.2em;
  text-shadow: 5px 5px 9px #545454;
  bottom: 80px;
}

.circular-menu {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 20vh;
}

.wrap {
  position: absolute;
  width: 300px; height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  margin: 0 auto;
  background: inherit;
  transform: scale(0.2) translatez(0px);
  opacity: 0;
  transition: transform .5s, opacity .5s;
}

.wrap a{
  position: absolute;
  left: -4vh; top: -4vh;
  width: 55%; height: 55%;
  overflow: hidden;
  transform: scale(.5) translateZ(0px);
  background: #706464;
}

.wrap a div{
  height: 100%;
  background-size: cover;
  /*background-position: center;*/
  opacity:.5;
  transition: opacity .5s;
  border-radius: inherit;
}

.wrap a:nth-child(1){
  /*left: -32%;
  top: -32%;*/
  border-radius: 150px 0 0 0;
  transform-origin: 110% 110%;
  transition:transform .4s .15s;
}

.wrap a:nth-child(1) div{
  background-image:url('../images/homemenu_chambres.png');
}

.wrap a:nth-child(2){
  border-radius: 0 150px 0 0;
  left: 53%;
  /*top: -32%;*/
  transform-origin: -10% 110%;
  transition:transform .4s .2s;
}

.wrap a:nth-child(2) div{
  background-image:url('../images/homemenu_hotel.png');
}

.wrap a:nth-child(3){
  border-radius:0 0 0 150px;
  /*left: -32%;*/
  top: 53%;
  transform-origin: 110% -10%;
  transition:transform .4s .25s;
}

.wrap a:nth-child(3) div{
  background-image:url('../images/homemenu_resto.png');
}

.wrap a:nth-child(4){
  border-radius:0 0 150px 0;
  left: 52.5%;
  top: 53%;
  transform-origin: -10% -10%;
  transition:transform .4s .3s;
}

.wrap a:nth-child(4) div{
  background-image: url('../images/homemenu_spa.png');
}

.wrap a:nth-child(5){
  width:55%;height:55%;
  left: 22.5%; top: 22.5%;
  border-radius:50vmin;
  box-shadow:0 0 0 5vmin #E3DFD2;
  transform:scale(1);
}

.wrap a:nth-child(5) div{
  background-image: url('../images/logo_small200.png');
}

.smallbutton {
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
  display: block;
  margin: 0 auto;
  width: 70px; height: 70px;
  border-radius: 100%;
  background: #eedfcb;
  transform: translateZ(0px);
}

.smallbutton span {
  position: absolute;
  width: 60%; height: 3px;
  background: #ACA696;
  left: 20%; top: 50%;
  border-radius: 0;
}

.smallbutton span:after, .smallbutton span:before {
  content: '';
  position: absolute;
  left: 0; top: -10px;
  width: 100%; height: 100%;
  background: inherit;
}

.smallbutton span:after {
  top: 10px;
}

.smallbutton:hover + .wrap, .wrap:hover {
  transform: scale(.8) translateZ(0px);
  opacity: 1;
}

.smallbutton:hover + .wrap a, .wrap:hover a {
  transform: scale(1) translatez(0px);
}

a:hover div {
  opacity: 1;
  transform: translatez(0px);
}

.cache {
  display: none;
}

.footer-accueil {
  position: absolute;
  bottom: 0;
}

/* ************** GRILLE **************** */

.grid_1{width: 8.33%;}
.grid_2{width: 16.66%;}
.grid_3{width: 25%;}
.grid_4{width: 33.33%;}
.grid_5{width: 41.66%;}
.grid_6{width: 50%;}
.grid_7{width: 58.33%;}
.grid_8{width: 66.66%;}
.grid_9{width: 75%;}
.grid_10{width: 83.33%;}
.grid_11{width: 91.66%;}
.grid_12{width: 100%;}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  float: left;
  display: block;
}

/* ************** HEADER **************** */

.logo {
  height: 145px;
}

.logo-img {
  height: calc(100% - 20px);
  margin: 10px 0;
  float: left;
}

.logo-text {
  float: left;
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
}

.logo-text a {
  text-decoration: none;
  color: #d5b58b;
}

.banner {
  position: relative;
  height: 145px;
  background-position: left;
  background-repeat: no-repeat;
  padding: 0;
}

.banner-hotel {  background: url('../images/hotel_opacitybig.png');}
.banner-chambres {  background: url('../images/chambre_opacitybig.png');}
.banner-resto { background: url('../images/resto_opacitybig.png');}
.banner-spa { background: url('../images/spa_opacitybig.png');}

.banner-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.banner-button a {
  display: inline-block;
  color: #706464;
  background: rgba(255, 253, 231, 0.8);
  /*font-family: 'Dosis', sans-serif;*/
  font-size: 1.3em;
  border: none;
}

.banner-button a:hover {
  color: #FFF;
  background: rgba(140, 125, 125, 0.9);
}

/* ************** NAVBAR **************** */

/*.navbar {
  height: 45px;
  background: #706464;
}*/

nav {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  /*position: relative;*/
  list-style: none;
  background: #706464;
  padding: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display SC', serif;
  width: 100%;
}

.menu-item {
  margin: 0;
  font-size: 1.2em;
  display: inline-block;
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  z-index: 5;
  width: 16%;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.navbar li a {
  color: #d5b58b;
  font-weight: 400;
  text-decoration: none;
}

.navbar li:hover {
  background: #827878;
}

.navbar li .drop {
  font-size: 0.8em;
  height: 0;
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 120%;
  left: 0;
  top: 45px;
  border-top: 2px solid transparent;
  transition: 0.5s ease-in;
}

.navbar li .drop li {
  display: none;
  width: calc(100 - 20px);
}

.navbar li:hover .drop {
  height: 250px;
}

.navbar li:hover .drop li {
  display: block;
  height: auto;
  padding: 10px;
  background: #a5a0a0;
  width: 90%;
}

.navbar li .drop li a {
  color: #706464;
}

.navbar li:hover .drop li:hover {
  background: #eedfcb;
}

.search {
  width: 90%;
}

/* ************** CONTENU HOTEL**************** */

.content {
  margin: 0 auto;
  padding: 40px 10px 40px 10px;
  background: #fff;
  width: 85%;
}

.title2, .subtitle {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  color: #d5b58b;
}

.subtitle {
  font-weight: 400;
}

.frontporch {
  width: 100%;
  margin: 40px 0 40px 0;
}

.redirect {
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

.button {
  display: inline-block;
  font-family: 'Playfair Display SC', serif;
  text-decoration: none;
  color: #d5b58b;
  border: 1px solid;
  border-radius: 2px;
  font-size: 1.2em;
  padding: 10px;
  margin: 20px;
}

.button:hover {
  color: #a28a69;
  background: #eedfcb;
  border-color: transparent;
  transition: 0.4s;
}

/* ************** CONTENU CHAMBRES**************** */

.content-text {
  margin: 20px auto;
}

.slidebar {
  /* flex pour afficher les blocks à l'interieur avec flex */
  display: flex;
  height: 200px;
  background-color: #FFF;
  margin: 5px;
  width: calc(100% - 10px);
}

.chambre-classique { background-image: url("../images/chambre_classique1big.png"); }
.chambre-confort { background-image: url("../images/chambre_confort1big.png"); }
.chambre-deluxe { background-image: url("../images/chambre_deluxe1big.png"); }
.chambre-suite { background-image: url("../images/chambre_suite1big.png"); }

.slidebar .illustration {
  width: 100%;
  height: 100%;
  /* flex donne un meilleur rendu avec l'animation */
  display: flex;
  /* durée et type de l'animation */
  transition: all 0.6s linear;
  /* position de l'image de background pour qu'elle soit adapté en petit comme en grand */
  background-size: cover;
  background-position: 50% 50%;
  /* position relative pour placer le titre en absolute à l'interieur */
  position: relative
}

.slidebar .illustration .slidebar-title {
  /* position absolute à l'interieur de l'illustration */
  /*position: absolute;*/
  right: 10px;
  bottom: 10px;
  width: 50%;
  text-align: right;
  padding: 10px;
  color: white;
  font-size: 32px;
  font-weight: normal;
  font-family: 'Playfair Display SC', serif;
  color: #fff;
  text-shadow: 5px 5px 9px #545454;
  text-align: center;
}

.slidebar .description {
  /* 0 de large par défaut et on cache le contenu */
  width: 0;
  overflow: hidden;
  /* flex donne un meilleur rendu avec l'animation */
  display: flex;
  /* durée et type de l'animation */
  transition: all 0.5s ease-in-out;
}

.slidebar .description .description-text {
  min-width: 20vw;
  display: inline-block;
}

.slidebar-room:hover .illustration {
  /* quand on passe sur le bandeau on réduit la taille de l'image */
  width: 50%;
}
.slidebar-room:hover .description {
  /* quand on passe sur le bandeau on donne une taille à la description */
  width: calc(66% - 20px);
  padding: 10px;
}

.book-button {
  text-align: center;
  padding: 30px 10px;
}

.book-button span {
  font-family: 'Dosis', sans-serif;
}

/* ************** CONTENU RESTAURANT **************** */

.brasserie-img { background-image: url("../images/brasseriebig.png"); }
.restaurant-img { background-image: url("../images/restaurantbig.png"); }
.degustation-img { background-image: url("../images/degustationbig.png"); }

/*.slidebar-resto:hover .illustration {
  width: 100%;
}*/
.slidebar-resto:hover .description {
  width: calc(40% - 20px);
  padding: 10px;
}

.slidebar-resto:hover .description a {
  padding: 37px 10px;
}

/* ************** CONTENU SPA **************** */

.slidebar .description .description-text-spa {
  min-width: 29vw;
  display: inline-block;
}

.spa-detente { background-image: url("../images/spa_detentebig.png"); }
.spa-decouverte { background-image: url("../images/spa_decouvertebig.png"); }
.spa-relaxant { background-image: url("../images/spa_relaxantbig.png"); }
.spa-plaisir{ background-image: url("../images/spa_plaisirbig.png"); }
.spa-evasion { background-image: url("../images/spa_evasionbig.png"); }

/* ************** CONTENU SITEMAP **************** */

.colonne {
  float: left;
  width: 35%;
  /*background: lightslategrey;*/
}

.colonne h3 {
  margin: 20px;
}

.colonne ul {
  list-style: none;
  margin: 10px auto;
  padding: 0 20px;
}

.colonne li {
  margin: 10px 0;
}

.colonne a {
  text-decoration: none;
  color: #1C1C1C;
}

.colonne a:hover {
  color: #706464;
}

/* ************** CONTENU ACCES **************** */

.acces {
  padding: 0 30px 0 30px;
  margin-bottom: 30px;
  background: #EDEDED;
}

.infos-acces {
  padding-right: 20px;
  padding-top: 5vh;
}

.metro-logo {
  height: 20px;
  width: 20px;
  margin: 0 3px;
}

.rer-logo {
  height: 20px;
  margin: 5px 3px 0 3px;
}

iframe {
  min-height: 400px;
  padding: 20px;
}

.title2-margin {
  margin-bottom: 20px;
}

/* ************** CONTENU PANIER **************** */

.vignette-cart, .detail-cart {
  margin: 20px;
}

.detail-cart h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.total-cart {
  padding-left: 20px;
}

.total-cart h4, .total-cart p, .total-cart input {
  margin-top: 10px;
  margin-bottom: 5px;
}

.cart-button {
  margin: 16px;
  font-size: 1em;
}

/* ************** CONTENU EVENEMENTS **************** */

.events {
  text-align: center;
}

.events iframe {
  margin: 0 auto;
}

.metadata {
  width: 100%;
  background: #eedfcb;
  color: #706464;
}

/* ************** CONTENU BLOG **************** */

.actu {
  height: 300px;
  margin: 20px 0;
  padding: 10px 0;
}

.actu a {
  position: relative;
  display: block;
  width: 90%;
  height: 70%;
  margin: 5%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.legend {
  position: absolute;
  left: 0;
  bottom: -30%;
  background: rgba(255,255,255,0.75);
  width: 100%;
  margin: 0;
  text-align: center;
  transition: 0.6s;
}

.actu:hover .legend {
  bottom: 0;
}

.legend span {
  text-decoration: none;
  color: #1C1C1C;
  font-weight: bold;
}

.actu p {
  padding: 0 5%;
  margin-top: 0;
}

.actu-link1 { background-image: url("../images/etourisme-digital.png");}
.actu-link2 { background-image: url("../images/matteo-negri.png");}
.actu-link3 { background-image: url("../images/digital.png");}
.actu-link4 { background-image: url("../images/louvre.png");}
.actu-link5 { background-image: url("../images/france.png");}
.actu-link6 { background-image: url("../images/client.png");}

/* ************** CONTENU AVIS **************** */

.review {
  margin: 30px 20px;
}

.review img {
  height: 80px;
  width: 80px;
}

.review .userpseudo {
  margin: 5px 0 5px 15px;
  font-weight: bold;
}

.rating {
  margin: 5px 0;
}

.text-review p {
  margin: 5px 0 5px 15px;
}

.review-rating span {
  color: gold;
}

.review-rating .star-none {
  color: #1C1C1C;
}

.review-right {
  border-bottom: 1px solid #d5b58b;
}

.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before, .rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.comments {
  padding: 20px 30px;
}

/* ************** CONTENU PRESSE **************** */

.frontpage1 { background-image: url('../images/pressefront1.png')}
.frontpage2 { background-image: url('../images/pressefront2.png')}
.frontpage3 { background-image: url('../images/pressefront3.png')}
.frontpage4 { background-image: url('../images/pressefront4.png')}


/* ************** FORMULAIRE CONTACT & RECRUTEMENT **************** */

form {
  margin: 30px auto;
}

label {
  float: left;
  width: 20%;
  clear: both;
}

textarea {
  width: 30vw;
  height: 20vh;
  resize: vertical;
}

form .send-button {
  margin-left: 20%;
  width: 80px;
  font-size: 1em;
}

form .reset-button {
  font-size: 1em;
}

.radio label {
  float: none;
}


/* ************** FOOTER **************** */

footer {
  width: 100%;
  min-height: 33px;
  background: #706464;
}

.language {
  list-style: none;
  margin: 0;
  padding: 0;
}

.language .world-icon {
  float: left;
  margin: 10px 8px 0 20px;
  width: 30px;
  height: 30px;
  background: url("../images/sprite.png") no-repeat;
  background-position: -150px 0;
}

.language div {
  float: left;
  width: 50px;
  margin: 6px 5px 0 0;
}

.language div span {
  font-family: 'Playfair Display SC', serif;
  color: #d5b58b;
}

.language div span:hover {
  color: #eedfcb;
}

.bottom-nav {
  font-size: 0.9em;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.bottom-nav li {
  display: inline-block;
  margin: 5px;
}

.bottom-nav li a {
  text-decoration: none;
  color: #eedfcb;
}

.bottom-nav li a:hover {
  color: #d5b58b;
}

.sprite {
  padding: 0;
  margin: 10px 20px 0 0;
  text-align: right;
}

.sprite li {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../images/sprite2.png");
  background-repeat: no-repeat;
  margin: 0;
}

.print { background-position: -100px 0; }
.facebook { background-position: -75px 0; }
.twitter { background-position: -50px 0; }
.googleplus { background-position: -25px 0; }
.share { background-position: 0 0; }

.print:hover { background-position: -100px -25px; }
.facebook:hover { background-position: -75px -25px; }
.twitter:hover { background-position: -50px -25px; }
.googleplus:hover { background-position: -25px -25px; }
.share:hover { background-position: 0 -25px; }
